<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="con1" connectionString="Data Source=DESKTOP-CEBDA3A;Initial Catalog=Teste_PedroGregorio;User ID=sa;Password=ordeppedro19" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>